body {
  margin: 0;
}

.rcs-inner-handle {
  width: 8px !important;
  background-color: #8585ad !important;
  border-radius: 0 !important;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
