.ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  text-decoration: none;
}

.name {
  margin-top: 0;
}

.price {
  display: flex;
  align-items: center;
}
